package options

import (
	"{{ .Title }}/internal/config"
	"{{ .Title }}/internal/command"
)

type AppOptions struct {
	ConfFile string
	Config   *config.Config
}

func NewAppOptions() *AppOptions {
	o := &AppOptions{}
	return o
}

func (o *AppOptions) NewServer() (*command.Command, error) {
	c := command.New()
	o.loadConfig(o.ConfFile)
	c.Config = o.Config

	return c, nil
}

func (o *AppOptions) loadConfig(configFile string) {
	o.Config = config.New(configFile)
}
