package command

import (
	"fmt"

    "{{ .Title }}/internal/config"
)

type Command struct {
	Config *config.Config
}

func New() *Command {
	return &Command{}
}

func (c *Command) Run() {
	fmt.Println("gen by Hank997.")
}
